<% @posts.each do |post| %>
  <%# <div><a href='<%= "/posts/#{post.id}"'><%= post.title %></a></div> %> %> %>
  <%# <div><%= link_to post.title, "/posts/#{post.id}" %></div> %>
  <div><%= link_to post.title, post_path(post) %></div>
<% end %>